# LangSmith Configuration
#https://eu.smith.langchain.com/ ho creato un account e ho creato l'api key, con LangSmith ho observability
LANGSMITH_API_KEY=xxx
LANGSMITH_PROJECT=RAGWire_framework
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com/  
   #x region EU, x US region senza 'eu'
LANGCHAIN_TRACING_V2=true
#quando farai runnare il codice ci sara in langsmith>tracing>nome prj RAGWire(lo hai scelto here)> e vedi tutte le tracce , i dettagli, i tempi di esecuzione, errori, ecc

GOOGLE_API_KEY=xxx  #creata su gemini ai studio
#pero free tier di gemini-2.5-flash permette solo 5 req/min! Tra metadata extraction dell'upload e le chiamate dell'agente, puoi davvero superi il limite nello stesso minuto!
#Una singola query ne consuma 2-3 (extract_filters + generate, più eventuale rewrite). L'upload ne consuma altre per l'estrazione metadata. Superi il limite.
#invece gemini-2.0-flash  or  gemini-1.5-flash hanno 15requests/minuto. QUINDI USO gemini-2.0-flash ora!!
OPENAI_API_KEY=xxx
#https://aistudio.google.com/ ho creato account e ho creato api key

API_KEY=test

#se uso qdrant in modalita cloud
#QDRANT_URL=xxxx
#QDRANT_API_KEY=xxxx

#credenziali x chainlit chat ui
APP_USER=admin
APP_PASSWORD=admin
CHAINLIT_AUTH_SECRET="xxx"  
##execute 'chainlit create-secret' su powershell -> aggiungi nel .env  CHAINLIT_AUTH_SECRET=xxxxx_generato_dal_comando, questo è fondamentale x avviare chat chainlit w credenziali(auth)

#AGENT=v1agentLangGraphsupervisoragent  //attiva flow agentico, altrimenti always fallback su 'v1agentLangGraphsupervisoragent.py'

#crewai (x multi-agent, easy easy ma meno configurabile/professionale di langgraph)
#CREWAI_TRACING_ENABLED=true

BASE_URL_OLLAMA=http://localhost:11434